.watermark {
    content: 'DRAFT';
    opacity: 0.5;
    color: BLACK;
    position: absolute;
    bottom: 0;
    right: 0;
}

.watermarked:after {/* draw the watermark at screen*/
  color: rgba(0, 0, 0, 0.4);
  content: 'watermarked watermarked watermarked';
  word-spacing: 3em;
  transform: rotate(-60deg);
  filter:
  drop-shadow(2em 3em  #000)
  drop-shadow(4em 6em  #000)
  drop-shadow(8em 12em #000)
  drop-shadow(-15em -24em #000)
  ;
}
